@import "tailwindcss";

@theme {
  --color-maroon-50: #fdf6f6;
  --color-maroon-100: #fbeaea;
  --color-maroon-200: #f5c8c8;
  --color-maroon-300: #eea6a6;
  --color-maroon-400: #e05f5f;
  --color-maroon-500: #d11818;
  --color-maroon-600: #b41515;
  --color-maroon-700: #800f0f;
  --color-maroon-800: #5b0b0b;
  --color-maroon-900: #2e0505;
}

button {
  cursor: pointer;
}